@import './style/tailwind.css';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html,
body,
#app,
#content {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}

.graph__wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.graph {
	width: 100%;
	/* min-height: 100vh; */
	height: 100%;
}

/* Menu */

.menu {
	position: absolute;
	bottom: 0;
	left: 50%;

	height: 50px;
	background: var(--color-purple-50);
	transform: translateX(-50%);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	overflow: hidden;
}

.menu__nav {
	height: 100%;
	/* display: none; */
}

.menu__list {
	height: 100%;
	display: flex;
	align-items: center;
	list-style-type: none;
}

.menu__item {
	height: 100%;
}

.menu__link {
	padding: 10px 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--color-purple-200);
	color: var(--color-purple-950);
	border: none;
	height: 100%;
	cursor: pointer;
}

.menu__link--active {
	background: var(--color-purple-300);
}

/* Menu end */

.panel {
	position: absolute;

	right: -100%;
	background: var(--color-purple-50);

	height: 100%;
	padding: 20px 25px;

	box-shadow: -4px 0px 19px -1px rgba(135, 135, 135, 0.05);
	-webkit-box-shadow: -4px 0px 19px -1px rgba(135, 135, 135, 0.05);
	-moz-box-shadow: -4px 0px 19px -1px rgba(135, 135, 135, 0.05);
}

.panel--opened {
	right: 0;
}

.panel__form {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.panel__form-label {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
}

.panel__form-input {
	padding: 3px 6px;
	border: 1px solid var(--color-slate-400);
	border-radius: 10px;
}

.panel__form-button {
	border-radius: 10px;
	padding: 5px 10px;
	border: none;
	background: var(--color-green-300);
	cursor: pointer;
}

.panel__form-button:hover {
	background: var(--color-green-400);
}

.content--circle {
	transition: 0.5s all;
}
