.main--cpp {
	margin: 0;
	padding: 0;

	gap: 0;
	line-height: 1.3em;

	box-shadow: none;
}

.wrapper {
	margin: 0 auto;
	max-width: 1024px;

	box-shadow: 0px 0px 30px var(--slate-300);

	border-radius: 10px;
	background: white;
}

.content {
	padding: 25px;

	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.content__brief {
	padding: 10px;
	position: absolute;
	left: 1000px;
	top: 350px;
	max-width: 240px;
	cursor: move;
	background: var(--slate-50);

	border-radius: 10px;

	z-index: 10;

	box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.02);
}

.highlight {
	padding: 0 4px;
	border-radius: 7px;
	font-weight: normal;
	color: var(--orange-600);

	background-color: rgba(222, 222, 222, 0.1);
}

.highlight--mini {
	padding: 0 4px;
	border-radius: 7px;
	font-weight: normal;
	color: var(--slate-600);

	background-color: rgba(222, 222, 222, 0.1);
}

.list__item {
	padding-left: 4px;
	list-style-type: '•';
}

.list__item::marker {
	color: var(--pink-400);
	font-size: 1.4em;
}

.example__pre {
	background: transparent !important;
}

.pros-cons__content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.title-3-level {
	font-size: 1.1em;
	font-weight: 500;
	margin-bottom: 5px;
}

/* Header */

.header,
.footer {
	padding: 10px 25px;
	background: var(--slate-100);

	z-index: 2;
	position: relative;
}

.header {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

/* Navigation */
.navigation {
	padding-left: 15px;

	/* margin: -25px -25px 0 -25px; */

	display: flex;
	align-items: center;

	background: var(--slate-50);
}

.navigation__list {
	display: flex;
}

.navigation__item {
	list-style-type: none;
}

.navigation__link {
	display: inline-block;
	padding: 12px 10px;

	text-decoration: none;

	color: var(--slate-600);

	background: transparent;

	transition: 0.2s background ease-in-out;
}

.navigation__link:hover {
	background: var(--pink-100);
}

.navigation__item--active {
	background: var(--sky-100);
}
