@import 'tailwind.css';

/* Base */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	min-height: 100vh;

	position: relative;
	background: var(--cyan-100);

	color: var(--slate-500);
}

@media screen and (min-width: 66rem) {
	.body {
		padding: 1em;
	}

	.main {
		padding: 1.5625rem;
	}
}

@media screen and (max-width: 66rem) {
	.body {
		padding: 0.625rem;
	}

	.main,
	.other {
		padding: 0.9375rem !important;
	}
}

@media screen and (max-width: 43.125rem) {
	.photo {
		margin: 0 auto;
		max-width: 18.75rem !important;
	}

	.title,
	.contact {
		margin: 0 auto;
	}
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -999999;

	overflow: hidden;
}

.bg::before {
	content: '';
	position: absolute;
	width: max(200%, 270rem);
	height: max(400%, 350rem);
	top: -66%;
	left: -54%;
	z-index: -1;

	background-size: cover;

	background-image: url('../assets/icons/headphones.svg'),
		linear-gradient(var(--cyan-100), var(--sky-200));
	background-size: 7.5rem;

	transform: rotate(-37deg);
}

/* Main */

.main {
	border-radius: 0.625rem;
	background: white;

	margin: 0 auto;
	max-width: 64rem;

	display: flex;
	flex-direction: column;
	row-gap: 0.7em;

	box-shadow: 0rem 0rem 1.875rem var(--slate-300);
}

/* Titles */

.title {
	margin-top: 0.625rem;

	font-size: 1.9em;
	font-weight: 700;
	color: var(--slate-700);

	transition: 0.5s color ease-in-out;
}

.title:hover {
	color: var(--slate-500);
}

/* Photo */

.photo {
	max-width: 100%;
	position: relative;
}

.photo__img {
	max-width: 100%;

	border-radius: 0.3125rem;

	position: relative;
	z-index: 10;

	transition: 0.5s all ease-in-out;
	box-shadow: 0rem 0rem 0.625rem var(--slate-400);
}

.photo__img:hover {
	transform: scale(1.02);
}

.photo::before {
	width: 100%;
	height: 100%;

	content: '';
	position: absolute;
	top: 50%;
	left: 50%;

	transform: scale(1.02) translate(-50%, -50%) rotate(20deg);

	transition: 0.5s all ease-out, 1s rotate ease-in;
}

.photo:hover:before {
	background: var(--pink-50);
	transform: scale(1.02) translate(-50%, -50%) rotate(-3deg);
	box-shadow: 0rem 0rem 0.625rem 0.1875rem var(--pink-100);
}

/* Education */

.education {
	margin-top: 0.3125rem;
	margin-bottom: 0.3125rem;
}

.education__year {
	font-size: 0.9em;
	display: flex;
	column-gap: 0.3em;

	transition: 0.4s all ease-in-out;
}

.education__year:hover {
	column-gap: 0.6em;
}

/* Contact */

.contact {
	margin-top: 0.3125rem;
}

.contact__info {
	display: flex;
	column-gap: 0.4em;
}

.contact__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.75rem;
	height: 1.75rem;
}

.contact__item:hover {
	background: var(--fuchsia-300);
	border-radius: 20%;
}

.contact__image {
	width: 1.5rem;
	height: 1.5rem;
}

/* Feedback */

.feedback__right {
	width: 100%;
	height: 8.6875rem;
	resize: none;
}

/* Work */

.work {
	margin-top: 0.625rem;
}

/* Other */

.other {
	margin: 0 auto;
	margin-top: 2.5rem;
	padding: 1.5625rem;
	border-radius: 0.625rem;
	background: white;

	max-width: 64rem;

	display: flex;
	flex-direction: column;
	row-gap: 0.7em;

	box-shadow: 0rem 0rem 1.875rem var(--slate-300);
}

/* Line-divider */

.line-divider {
	height: 0.0625rem;
	background: var(--slate-300);
	border: none;
}
