@import './style/tailwind.css';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html,
body,
#app,
#content {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

.nav {
	padding: 20px 20px;
	font-size: 2rem;

	.nav__list {
		display: flex;
		list-style-type: none;
	}

	.nav__item--1 .nav__link:hover {
		background: var(--color-rose-300);
	}

	.nav__item--2 .nav__link:hover {
		background: var(--color-purple-300);
	}

	.nav__item--3 .nav__link:hover {
		background: var(--color-sky-300);
	}

	.nav__item--4 .nav__link:hover {
		background: var(--color-emerald-300);
	}

	.nav__item--5 .nav__link:hover {
		background: var(--color-amber-300);
	}

	.nav__link {
		padding: 10px 10px;
		color: black;
		border-radius: 5px;

		transition: all 0.2s ease-out;
	}
}
